apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-website
  namespace: argocd  # ArgoCD should be installed in this namespace
spec:
  project: default
  
  source:
    repoURL: https://github.com/anees-rehman1/my-website.git
    targetRevision: HEAD
    path: k8s/
    helm:
      parameters:
        - name: image.tag
          value: latest
  
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
    
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  
  ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
        - /spec/replicas
  
  info:
    - name: description
      value: "My Website Application"
    - name: maintainer
      value: "Your Name"