apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-website
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: https://github.com/anees-rehman1/my-website.git  # Your repo
    targetRevision: main  # Changed from HEAD to main
    path: k8s/
  
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
    
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  
  info:
    - name: description
      value: "My Website deployed via ArgoCD"
    - name: maintainer
      value: "Anees"
    - name: repo
      value: "https://github.com/anees-rehman1/my-website"